/*NAVIGATION*/



/*WELCOME*/
#contactModal ul {
    list-style: none;
}



/*ABOUT*/
#aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutCarousel {
    display: flex;
    justify-content:center;
    align-items: center;

    margin-top: 75px;
}

#aboutButton {
    display: flex;
    justify-content: center;

    padding: 5px;
}

.carousel-control-prev {
    margin-right: 10px;
}

.carousel-control-next {
    margin-left: 10px;
}


/*CONTACT*/
#contactForm {
    width: 85%;

    margin: 10px;
}